$color-primary: #744b26;
$color-primary--darker: #3b1c10;
$color-primary--brighter: #744b26;
$color-primary--light: #cdede0;
$color-second: #8e54e9;
$color-second--darker: #613f98;
$color-second--brighter: #e9daff;
$color-border: #e9ecf3;
$color-border--darker: #474747;
$color-text--primary: #263747;
$color-text--secondary: #98a8b9;
$color-text--disabled: #cdd7e0;
$color-shadow: rgba(20, 20, 50, 0.12);
$color-background: #fbfbfd;
$color-red: #ff0000;
